<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>EntradasCine</title>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-succes">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-dark btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarPelicula">
                            <i class="fas fa-plus"></i> [[#{pelicula.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar pelicula, es la ventana modal -->
        <section th:fragment="agregarPelicula">
            <div id="agregarPelicula" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-dark text-white">
                            <h5 class="modal-title">[[#{pelicula.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/pelicula/guardar}" th:object="${pelicula}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">

                                <div class="mb-3">
                                    <label for="categoria">[[#{pelicula.categoria}]]</label>
                                    <select name="categoria.idCategoria"
                                            class="form-select">
                                        <option th:each="c : ${categorias}" 
                                                th:value="${c.idCategoria}"
                                                th:text="${c.descripcion}">

                                        </option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="descripcion">[[#{pelicula.descripcion}]]</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="detalle">[[#{pelicula.detalle}]]</label>
                                    <input type="text" class="form-control" name="detalle" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="precio">[[#{pelicula.precio}]]</label>
                                    <input type="number" class="form-control" name="precio" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="existencias">[[#{pelicula.existencias}]]</label>
                                    <input type="number" class="form-control" name="existencias" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">[[#{pelicula.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">[[#{pelicula.imagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad pelicula -->
        <section th:fragment="listadoPeliculas" id="peliculas">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{pelicula.listado}]]</h4>
                            </div>
                            <div th:if="${peliculas != null and !peliculas.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>[[#{pelicula.descripcion}]]</th>
                                            <th>[[#{pelicula.precio}]]</th>
                                            <th>[[#{pelicula.existencias}]]</th>
                                            <th>[[#{pelicula.total}]]</th>
                                            <th>[[#{pelicula.activo}]]</th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="pelicula, contador : ${peliculas}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${pelicula.descripcion}]]</td>
                                            <td class="text-end">[[${#numbers.formatDecimal(pelicula.precio,1,'DEFAULT',2,'DEFAULT')}]]</td>
                                            <td class="text-center">[[${pelicula.existencias}]]</td>
                                            <td class="text-end">[[${#numbers.formatDecimal(pelicula.precio*pelicula.existencias,1,'DEFAULT',2,'DEFAULT')}]]</td>
                                            <td th:text="${pelicula.activo} ? 'Activa' : 'Inactiva'" />
                                            <td><a th:href="@{/pelicula/eliminar/}+${pelicula.idPelicula}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                                <a th:href="@{/pelicula/modificar/}+${pelicula.idPelicula}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${peliculas == null or peliculas.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-dark text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{pelicula.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalPeliculas}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarPelicula">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/pelicula/guardar}" 
                          th:object="${pelicula}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idPelicula" th:field="*{idPelicula}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{pelicula/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="categoria">[[#{pelicula.categoria}]]</label>
                                                    <select th:field=="*{categoria.idCategoria}"
                                                            class="form-select">
                                                        <option th:each="c : ${categorias}" 
                                                                th:value="${c.idCategoria}"
                                                                th:text="${c.descripcion}">

                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{pelicula.descripcion}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="detalle">[[#{pelicula.detalle}]]</label>
                                                    <input type="text" class="form-control" th:field="*{detalle}" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="precio">[[#{pelicula.precio}]]</label>
                                                    <input type="number" class="form-control" th:field="*{precio}" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="existencias">[[#{pelicula.existencias}]]</label>
                                                    <input type="number" class="form-control" th:field="*{existencias}" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="activo">[[#{pelicula.activo}]]</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           name="activo" 
                                                           id="activo"
                                                           th:field="*{activo}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{pelicula.rutaImagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${pelicula.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-dark">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/pelicula/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/pelicula/eliminar/}+${pelicula.idPelicula}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>