<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
 
        <title>EntradasCine</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div
            class="bg-image"
            style="
            background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Sala_de_cine.jpg/800px-Sala_de_cine.jpg');
            height: 100vh;
            "
            ></div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
